{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="application/javascript">
        $("#addItem").click(window.formAddify($("#items")));

    </script>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        {{ form_start(form) }}
        <div class="col-md-12">
            <h4>Date</h4>
            {{ form_row(form.weekDate) }}
        </div>
        <hr>
        <div class="col-md-12">
            <h3>Items
                <button type="button" id="addItem" class="btn btn-info">
                    Add new <span class="fa fa-plus"></span>
                </button>
            </h3>
            <div id="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}">
                {% for item in form.items %}
                    <div class="row">
                        <div class="col-md-5">
                            {{ form_row(item.name) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(item.price) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-success btn-block">Submit</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}